<Configuration>
    <Display>
        <Size width="1280" height="800" />
        <Scale>1</Scale>
        <UseVerticalSync>false</UseVerticalSync>
        <IsFullscreen>false</IsFullscreen>
        <IsFullscreenDesktop>false</IsFullscreenDesktop>
    </Display>
    <Audio>
        <Frequency>44100</Frequency>
        <Channels>1</Channels>
        <ChunkSize>2048</ChunkSize>
        <SoundVolume>50</SoundVolume>
        <MusicVolume>40</MusicVolume>
        <MusicRpcServerPath>MidiProc.exe</MusicRpcServerPath>
    </Audio>
    <Font>
        <Font>clacon.ttf</Font>
        <ConsoleFont font="clacon.ttf" size="20" />
    </Font>
    <Assets>
        <RezArchive>CLAW.REZ</RezArchive>
        <ResourceCacheSize>50</ResourceCacheSize>
    </Assets>
    <Console>
        <BackgroundImagePath>console02.tga</BackgroundImagePath>
        <StretchBackgroundImage>true</StretchBackgroundImage>
        <WidthRatio>1.0</WidthRatio>
        <HeightRatio>0.5</HeightRatio>
        <LineSeparatorHeight>3</LineSeparatorHeight>
        <CommandPromptOffsetY>10</CommandPromptOffsetY>
        <ConsoleAnimationSpeed>0.7</ConsoleAnimationSpeed>
        <FontPath>clacon.ttf</FontPath>
        <FontColor r="255" g="255" b="255" />
        <FontHeight>20</FontHeight>
        <LeftOffset>5</LeftOffset>
        <CommandPrompt>> </CommandPrompt>
    </Console>
</Configuration>
