<GameMenu>
    <StartingPage>MenuPage_Main</StartingPage>
    <BackgroundImage>/STATES/MENU/SCREENS/MENU.PCX</BackgroundImage>
    <MenuPage>
        <PageName>MenuPage_Main</PageName>
        <MenuItem>
            <Name>MAIN_MENU</Name>
            <Type>Text</Type>
            <State>Active</State>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/014_TITLE.PCX</ActiveImage>
            <Position x="188" y="160" />
        </MenuItem>
        <MenuItem>
            <Name>SINGLE_PLAYER</Name>
            <Type>Button</Type>
            <State>Active</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/001_SINGLEPLAYER.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/002_SINGLEPLAYER.PCX</ActiveImage>
            <Position x="174" y="210" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_SinglePlayer</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>MULTIPLAYER</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/003_MULTIPLAYER.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/004_MULTIPLAYER.PCX</ActiveImage>
            <Position x="190" y="245" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_Multiplayer</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>REPLAY_MOVIES</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/005_REPLAYMOVIES.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/006_REPLAYMOVIES.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/007_REPLAYMOVIES.PCX</DisabledImage>
            <Position x="170" y="280" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_ReplayMovies</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>OPTIONS</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/008_OPTIONS.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/009_OPTIONS.PCX</ActiveImage>
            <Position x="238" y="315" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_Options</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>CREDITS</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/015_CREDITS.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/016_CREDITS.PCX</ActiveImage>
            <Position x="238" y="350" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_Credits</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>HELP</Name>
            <Type>Button</Type>
            <State>Inactive</State> 
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/010_HELP.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/011_HELP.PCX</ActiveImage>
            <Position x="270" y="385" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_Help</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>QUIT</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/012_QUIT.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/013_QUIT.PCX</ActiveImage>
            <Position x="272" y="420" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_Quit</PageName>
            </GeneratedEvent>
        </MenuItem>
    </MenuPage>
</GameMenu>
