<GameMenu>
    <StartingPage>MenuPage_Main</StartingPage>
    <BackgroundImage>/STATES/MENU/SCREENS/MENU.PCX</BackgroundImage>
    <MenuPage>
        <PageName>MenuPage_Main</PageName>
        <MenuItem>
            <Name>MAIN_MENU_TEXT</Name>
            <Type>Text</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/014_TITLE.PCX</InactiveImage>
            <Position x="188" y="160" />
        </MenuItem>
        <MenuItem>
            <Name>SINGLE_PLAYER_BUTTON</Name>
            <Type>Button</Type>
            <State>Active</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/001_SINGLEPLAYER.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/002_SINGLEPLAYER.PCX</ActiveImage>
            <Position x="174" y="210" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_SinglePlayer</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>MULTIPLAYER_BUTTON</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/003_MULTIPLAYER.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/004_MULTIPLAYER.PCX</ActiveImage>
            <Position x="190" y="245" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_Multiplayer</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>REPLAY_MOVIES_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/005_REPLAYMOVIES.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/006_REPLAYMOVIES.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/007_REPLAYMOVIES.PCX</DisabledImage>
            <Position x="170" y="280" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_ReplayMovies</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>OPTIONS_BUTTON</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/008_OPTIONS.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/009_OPTIONS.PCX</ActiveImage>
            <Position x="238" y="315" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_Options</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>CREDITS_BUTTON</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/015_CREDITS.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/016_CREDITS.PCX</ActiveImage>
            <Position x="238" y="350" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_Credits</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>HELP_BUTTON</Name>
            <Type>Button</Type>
            <State>Inactive</State> 
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/010_HELP.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/011_HELP.PCX</ActiveImage>
            <Position x="270" y="385" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_Help</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>QUIT_BUTTON</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/012_QUIT.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/013_QUIT.PCX</ActiveImage>
            <Position x="272" y="420" />
            <GeneratedEvent>
                <Type>QuitGame</Type>
            </GeneratedEvent>
        </MenuItem>
    </MenuPage>
    <MenuPage>
        <PageName>MenuPage_SinglePlayer</PageName>
        <MenuItem>
            <Name>SINGLE_PLAYER_TEXT</Name>
            <Type>Text</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/014_TITLE.PCX</InactiveImage>
            <Position x="160" y="161" />
        </MenuItem>
        <MenuItem>
            <Name>NEW_GAME_BUTTON</Name>
            <Type>Button</Type>
            <State>Active</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/001_NEWGAME.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/002_NEWGAME.PCX</ActiveImage>
            <Position x="218" y="210" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_SinglePlayer_NewGame</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>LOAD_GAME_BUTTON</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/003_LOADGAME.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/004_LOADGAME.PCX</ActiveImage>
            <Position x="210" y="245" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_SinglePlayer_LoadGame</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>LOAD_CUSTOM_LEVEL_BUTTON</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/005_LOADCUSTOM.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/006_LOADCUSTOM.PCX</ActiveImage>
            <Position x="124" y="280" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_SinglePlayer_LoadCustomLevel</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>SAVE_GAME_BUTTON</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/007_SAVEGAME.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/008_SAVEGAME.PCX</ActiveImage>
            <Position x="210" y="315" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_SinglePlayer_SaveGame</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>UPLOAD_SCORES_BUTTON</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/009_UPLOADSCORES.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/010_UPLOADSCORES.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/011_UPLOADSCORES.PCX</DisabledImage>
            <Position x="168" y="350" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_SinglePlayer_UploadScores</PageName>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>BACK_BUTTON</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/012_PREVIOUSMENU.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/013_PREVIOUSMENU.PCX</ActiveImage>
            <Position x="266" y="385" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_Main</PageName>
            </GeneratedEvent>
        </MenuItem>
    </MenuPage>
    <MenuPage>
        <PageName>MenuPage_SinglePlayer_NewGame</PageName>
        <Columns>2</Columns>
        <ItemsInColumn>7</ItemsInColumn>
        <MenuItem>
            <Name>NEW_GAME_TEXT</Name>
            <Type>Text</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/NEW/001_TITLE.PCX</InactiveImage>
            <Position x="196" y="161" />
        </MenuItem>
        <MenuItem>
            <Name>LA_ROCA_BUTTON</Name>
            <Type>Button</Type>
            <State>Active</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/001_LEVELONE.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/002_LEVELONE.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/003_LEVELONE.PCX</DisabledImage>
            <Position x="38" y="215" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>1</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>BATTLEMENTS_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/004_LEVELTWO.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/005_LEVELTWO.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/006_LEVELTWO.PCX</DisabledImage>
            <Position x="38" y="243" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>2</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>FOOTPATH_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/007_LEVELTHREE.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/008_LEVELTHREE.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/009_LEVELTHREE.PCX</DisabledImage>
            <Position x="38" y="271" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>3</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>DARK_WOODS_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/010_LEVELFOUR.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/011_LEVELFOUR.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/012_LEVELFOUR.PCX</DisabledImage>
            <Position x="38" y="299" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>4</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>TOWNSHIP_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/013_LEVELFIVE.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/014_LEVELFIVE.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/015_LEVELFIVE.PCX</DisabledImage>
            <Position x="38" y="327" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>5</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>PUERTO_LOBOS_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/016_LEVELSIX.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/017_LEVELSIX.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/018_LEVELSIX.PCX</DisabledImage>
            <Position x="38" y="355" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>6</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>DOCKS_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/019_LEVELSEVEN.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/020_LEVELSEVEN.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/021_LEVELSEVEN.PCX</DisabledImage>
            <Position x="38" y="383" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>7</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>SHIPYARDS_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/022_LEVELEIGHT.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/023_LEVELEIGHT.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/024_LEVELEIGHT.PCX</DisabledImage>
            <Position x="308" y="215" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>8</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>PIRATES_COVE_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/025_LEVELNINE.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/026_LEVELNINE.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/027_LEVELNINE.PCX</DisabledImage>
            <Position x="308" y="243" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>9</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>CLIFFS_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/028_LEVELTEN.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/029_LEVELTEN.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/030_LEVELTEN.PCX</DisabledImage>
            <Position x="308" y="271" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>10</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>CAVERNS_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/031_LEVELELEVEN.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/032_LEVELELEVEN.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/033_LEVELELEVEN.PCX</DisabledImage>
            <Position x="308" y="299" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>11</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>UNDERSEA_CAVES_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/034_LEVELTWELVE.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/035_LEVELTWELVE.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/036_LEVELTWELVE.PCX</DisabledImage>
            <Position x="308" y="327" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>12</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>TIGER_ISLAND_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/037_LEVELTHIRTEEN.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/038_LEVELTHIRTEEN.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/039_LEVELTHIRTEEN.PCX</DisabledImage>
            <Position x="308" y="355" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>13</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>TEMPLE_BUTTON</Name>
            <Type>Button</Type>
            <State>Disabled</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/040_LEVELFOURTEEN.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/041_LEVELFOURTEEN.PCX</ActiveImage>
            <DisabledImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/042_LEVELFOURTEEN.PCX</DisabledImage>
            <Position x="308" y="383" />
            <GeneratedEvent>
                <Type>LoadGame</Type>
                <IsNewGame>true</IsNewGame>
                <LevelNumber>14</LevelNumber>
                <CheckpointNumber>0</CheckpointNumber>
            </GeneratedEvent>
        </MenuItem>
        <MenuItem>
            <Name>BACK_BUTTON</Name>
            <Type>Button</Type>
            <State>Inactive</State>
            <InactiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/043_BACK.PCX</InactiveImage>
            <ActiveImage>/STATES/MENU/IMAGES/MAIN/SINGLEPLAYER/LEVELS/044_BACK.PCX</ActiveImage>
            <Position x="278" y="420" />
            <GeneratedEvent>
                <Type>SwitchPage</Type>
                <PageName>MenuPage_SinglePlayer</PageName>
            </GeneratedEvent>
        </MenuItem>
    </MenuPage>
</GameMenu>
